<div class="xbox" style="text-align: center;">
    <div class="archivebox" style="margin: 0; float: left; width: 20%;">TIMESTAMP</div>
    <div style="width: calc(75% - 200px); float: left;">
        <div style="display: inline-block; margin: 0; margin-left: auto; margin-right: auto;">
            <div class="archivebox" style="float: left;">ACCOUNT1</div>
            <div class="archivebox" style="float: left;">vs.</div>
            <div class="archivebox" style="float: left;">ACCOUNT2</div>
        </div>
    </div>
    <div class="archivebox" style="margin: 0; float: right; width: 20%;">VOTEVALUE1 vs VOTEVALUE2</div>
</div>
