<!DOCTYPE html>
<html lang="en">
<head>
    <title>SteemAX - Exchange Archive</title>
    <meta name="description" content="An auto-upvote exchange system for the Steemit blockchain.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://steemax.trade/favicon.ico' rel='icon' type='image/vnd.microsoft.icon'>
    <link rel="stylesheet" type="text/css" href="https://steemax.trade/css/fonts.css">
    <link rel="stylesheet" media="only screen and (max-width: 4000px) and (min-width: 1000px)" href="https://steemax.trade/css/info.css">
    <link rel="stylesheet" media="only screen and (max-width: 999px) and (min-width: 600px)" href="https://steemax.trade/css/info600.css">
    <link rel="stylesheet" media="only screen and (max-width: 599px) and (min-width: 0px)" href="https://steemax.trade/css/info380.css">
</head>
<body>
    <div class="header">
        <div id="header-logo">
            <a href="https://steemax.trade"><div id="large-logo"></div></a>
        </div>
        <div class="myvotevalue">ACCOUNT</div>
        <div id="header-button">
            <a href="https://steemax.trade/login">
            <button id="ghost-button">Exchange</button>
            </a>
        </div>
    </div>
    <div id="exchange_table">
    INFOBOX
    </div>
</body>
</html>
