    <div class="xbox">
        <div class="datetime">DATE
            <img src="https://steemax.trade/images/clock-icon.png" class="clock-icon">TIME</div>
        <div class="inviter-left">
            <div class="tooltip" style="float: right;">
                <a href="https://steemit.com/@ACCOUNT1/IDENT1">@ACCOUNT1<br>
                <span class="archive-vote-value">VOTEVALUE1</span></a>
                <span class="tooltiptext">IDENT1</span>
            </div>
        </div>
        <div class="exchange-icon">
            <img src="https://steemax.trade/images/exchange-icon.png"></div>
        <div class="invitee-right">
            <div class="tooltip" style="float: left;">
                <a href="https://steemit.com/@ACCOUNT2/IDENT2">@ACCOUNT2<br>
                <span class="archive-vote-value">VOTEVALUE2</span></a>
                <span class="tooltiptext">IDENT2</span>
            </div>
        </div>
    </div>
