<!DOCTYPE html>
<html lang="en">
<head>
<title>SteemAX: Error</title>
<meta name="description" content="SteemAX: Error">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="https://steemax.trade/css/fonts.css" />
<link rel="stylesheet" type="text/css" href="https://steemax.trade/css/main.css">
</head>
<body>
<div style="width: 100%; height: 100vh; text-align: center;">
    <h1><img src="https://steemax.trade/images/steemaxlogo.png"></h1>
    <h2>There was a problem with your request</h2>
    <div class="">ERRORMSG</div>
</div>
</body>
</html>
