<!DOCTYPE html>
<html lang="en">
<head>
    <title>SteemAX</title>
    <meta name="description" content="An auto-upvote exchange system for the Steemit blockchain.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://steemax.trade/favicon.ico' rel='icon' type='image/vnd.microsoft.icon'>
    <link rel="stylesheet" type="text/css" href="https://steemax.trade/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="https://www.steemax.trade/css/main.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://www.steemax.trade/js/steem.min.js"></script>
    <script src="https://www.steemax.trade/js/steemjs.js"></script>
    <script lang="javascript">
        if (window != top) {top.location.replace(document.location);}
        function get_all_votes() {  get_vote_value('ACCOUNT1', 100, 1); }
    </script>
</head>
<body>
    <div class="header">
        <div class="header-side" style="float: left;">
            <img id="large-logo" src="https://steemax.trade/images/steemaxlogo.png" width="200">
        </div>
        <div id="ACCOUNT1vote" class="myvotevalue"></div>
        <div class="header-side" style="float: right;">
            <a href="https://steemax.info/@ACCOUNT1">
            <button id="ghost-button">See my exchanges</button>
            </a>
        </div>
    </div>
    <form action="https://steemax.trade/post.py" id="axform">
    <input type="hidden" name="code" value="REFRESHTOKEN">
    <div class="container">
        <div id="errormsg">Invite a Steemian to exchange upvotes</div>
        <div class="input-fields">
            <div class="tooltip">
                <input type="text" placeholder="username" name="account" id="accountbox" onchange="get_vote_value(this.value, 100, 2);" class="inputshadow">
                <img class="input-icon" src="https://www.steemax.trade/images/user-icon.png">
                <span class="tooltiptext">Enter the name of a Steemit.com account that you wish to exchange upvotes.</span>
            </div>
            <div class="tooltip">
                <input type="number" placeholder="Percentage from 1 to 100" min="1" max="100" name="percentage" id="percentage" onchange="compare_votes_index();" class="inputshadow">
                <img class="input-icon-right" src="https://www.steemax.trade/images/percentage-icon.png">
                <span class="tooltiptext">This is the percentage of your upvote that you'd like to exchange. Exchanges are always negotiated using the inviter's upvote. The person you invite will have the opportunity to barter with you before they accept and it will always be your (inviter's) upvote that is being bartered on.</span>
            </div>
            <div class="tooltip">
                 <input type="number" placeholder="Ratio from 0.001 to 1000" min="0.001" max="1000" step="0.001" name="ratio" id="ratio" onchange="compare_votes_index();" class="inputshadow">
                <img class="input-icon-right" src="https://www.steemax.trade/images/1-icon.png">
                <span class="tooltiptext">This is the ratio between your upvote and the person's upvote that you are inviting. This allows whales and minnows to exchange unequal upvotes! Just like the percentage, it's <i>your</i> upvote that is being adjusted, which is the number on the left of the ratio. You can adjust the ratio from 0.001 (one thousandth of your upvote compared to the person you're inviting) all the way to 1000 (your upvote is one thousand times the other upvote).</span>
            </div>
            <select name="duration" id="duration" class="inputshadow">
                <option value="7">1 week</option>
                <option value="14">2 weeks</option>
                <option value="28">4 weeks</option>
                <option value="56">2 months</option>
                <option value="84">6 months</option>
                <option value="365">1 year</option>
            </select>
            <div id="captcha_holder">
                 <div class="g-recaptcha" data-sitekey="6Ld60V8UAAAAALQVrR4yBYDiDsYVHO1JRc4BdrxG"></div>
            </div>
            <div id="buttonholder">
                <a href="javascript" onClick="verifyform(); return false;"><div id="exchange-button">Invite to exchange</div></a>
                <img src="https://steemax.trade/images/loader_small.gif" id="loadergif">
            </div>
            <div id="powered">Powered by <a href="https://steemit.com/@learnelectronics">Artolabs</a></div>
        </div>
    </div>
    </form>
</body>
</html>
