<!DOCTYPE html>
<html lang="en">
<head>
<title>SteemAX</title>
<meta name="description" content="An auto-upvote exchange system for the Steemit blockchain.">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="https://steemax.trade/css/fonts.css" />
<link rel="stylesheet" type="text/css" href="https://steemax.trade/css/main.css">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
<script src="https://www.steemax.trade/js/steemjs.js"></script>
<script lang="javascript">
function get_all_votes() {  get_vote_value('ACCOUNT1', 100, 1); }
</script>
</head>
<body>
<div style="width: 100%; height: 100vh; text-align: center;">
    <h1><img src="https://steemax.trade/images/steemaxlogo.png"></h1>
    <h2>Welcome ACCOUNT1</h2>
    <div id="errormsg"></div>
    <form action="https://steemax.trade/post.py" id="axform">
    <input type="hidden" name="code" value="REFRESHTOKEN">
    <div class="inputbox">
        <div class="textholder">Invite @</div>
        <div class="inputholder" id="accountbox">
            <input type="text" name="account" id="account" class="input" onchange="get_vote_value(this.value, 100, 2);">
        </div>
    </div>
    <div class="inputbox">
        <div class="textholder">Upvote %</div>
        <div class="inputholder" style="width: 56px;">
            <input type="number" id="percentage" name="percentage" min="0" max="100" value="100" class="input" style="width: 50px;" onchange="compare_votes()">
        </div>
    </div>
    <div class="inputbox">
        <div class="textholder">Ratio</div>
        <div class="inputholder" style="width: 56px;">
            <input type="number" id="ratio" name="ratio" min="0" max="1000" value="1" class="input" style="width: 50px;" onchange="compare_votes()">
        </div>
    </div>
    <div class="inputbox">
        <div class="textholder">Duration</div>
        <div class="inputholder">
            <select name="duration" id="duration" class="input" style="width: 170px; height: 38px;">
                <option value="7">1 week</option>
                <option value="14">2 weeks</option>
                <option value="28">4 weeks</option>
                <option value="56">2 months</option>
                <option value="84">6 months</option>
                <option value="365">1 year</option>
            </select>
        </div>
    </div>
    <div id="captcha_holder">
        <div class="g-recaptcha" data-sitekey="6Ld60V8UAAAAALQVrR4yBYDiDsYVHO1JRc4BdrxG"></div>
    </div>
    <div id="button" onClick="verifyform();">Invite to Exchange</div>
    </form>
    <div class="inputbox" style="text-align: center;">
        Powered by <a href="https://steemit.com/@learnelectronics">ArtoLabs</a>
    </div>
</div>
</body>
</html>
