    <div class="xbox">
        <input type="hidden" id="votevalueAXID">
        <input type="hidden" id="percentageAXID" value="PERCENTAGE">
        <input type="hidden" id="ratioAXID" value="DARATIO">
        <input type="hidden" id="durationAXID" value="DURATION">
        <input type="hidden" id="inviteeAXID" value="INVITEE">
        <input type="hidden" id="otheraccountAXID" value="OTHERACCOUNT">
        <input type="hidden" id="storedmemoidAXID" value="MEMOID">
        <div class="xinnerbox" style="width: 28%; min-width: 250px; max-width: 350px;">@ACCOUNT1 vs. @ACCOUNT2</div>
        <div class="xinnerbox" id="clearit">PERCENTAGE%</div>
        <div class="xinnerbox">DARATIO:1</div>
        <div class="xinnerbox">DURATION</div>
        <div class="xbuttons">BTNCODE</div>
    </div>
    <div class="memobox" id="memoAXID">
        <div class="minnerbox" id="compareAXID" style="min-width: 100px; max-width: 250px; padding-top: 24px;"></div>
        <div class="minnerbox" style="margin: 0px; padding: 0px; padding-top: 15px;">
            <input type="text" value="MEMOID" id="memoidAXID">
        </div>
        <div class="minnerbox" style="font-size: 14px; padding: 10px; padding-top: 25px; font-size: 12px;">
            Send any SBD to @steem-ax with this in the memo.
        </div>
    </div>
