    <div class="xbox">
        <input type="hidden" id="votevalueAXID">
        <input type="hidden" id="percentageAXID" value="PERCENTAGE">
        <input type="hidden" id="ratioAXID" value="DARATIO">
        <input type="hidden" id="durationAXID" value="DURATION">
        <input type="hidden" id="inviteeAXID" value="INVITEE">
        <input type="hidden" id="otheraccountAXID" value="OTHERACCOUNT">
        <input type="hidden" id="storedmemoidAXID" value="MEMOID">
        <input type="hidden" value="MEMOID" id="memoidAXID">
        <div class="duration">
            <img src="https://steemax.trade/images/clock-icon.png" class="clock-icon">DURATION
        </div>
        <div class="versus1">
            <b><a href="https://steemit.com/@ACCOUNT1">@ACCOUNT1</a></b>
        </div>
        <div class="exchange-icon-info">
            <img src="https://steemax.trade/images/exchange-icon.png"> 
        </div>
        <div class="versus2">
            <b><a href="https://steemit.com/@ACCOUNT2">@ACCOUNT2</a></b>
        </div>
        <div class="xbuttons">
            BTNCODE
        </div>
    </div>
    <div class="memobox" id="memoAXID">
        <div class="percentage-info">
            ACCOUNT1 offers <b>PERCENTAGE%</b> of their upvote.<br>
            At the ratio of <b>DARATIO:1</b> the values exchanged will be:<br>
            <div class="votevalues" id="compareAXID"></div>
        </div>
        <div class="steem-connect-send">
            <div class="button" onClick="sendSbdToSteemax('MYACCOUNT', AXID);" id="sendBtnAXID">Send using Steem Connect</div>
        </div>
        <div class="send-text" id="sendTextAXID">
            <a href="javascript" onClick="manualSend(AXID); return false;">Send manually</a>
        </div>
    </div>
