<!DOCTYPE html>
<html lang="en">
<head>
    <title>SteemAX</title>
    <meta name="description" content="An auto-upvote exchange system for the Steemit blockchain.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://steemax.trade/favicon.ico' rel='icon' type='image/vnd.microsoft.icon'>
    <link rel="stylesheet" type="text/css" href="https://steemax.trade/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="https://steemax.trade/css/info.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://steemax.trade/js/steem.min.js"></script>
    <script src="https://steemax.trade/js/steemjs.js"></script>
    <script lang="javascript">
        if (window != top) {top.location.replace(document.location);}
        function get_all_votes() {  get_vote_value('ACCOUNT1', 100, 1); }
    </script>
</head>
<body>
    <div class="header">
        <div class="header-side" style="float: left;">
            <img id="large-logo" src="https://steemax.trade/images/steemaxlogo.png" width="200">
        </div>
        <div id="ACCOUNT1vote" class="myvotevalue"></div>
        <div class="header-side" style="float: right;">
            <a href="https://steemax.trade">
            <button id="ghost-button">Exchange my upvote</button>
            </a>
        </div>
    </div>
    <div id="exchange_table">
    INFOBOX
    </div>
</body>
</html>
