<!DOCTYPE html>
<html lang="en">
<head>
    <title>SteemAX</title>
    <meta name="description" content="An auto-upvote exchange system for the Steemit blockchain.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://steemax.trade/favicon.ico' rel='icon' type='image/vnd.microsoft.icon'>
    <link rel="stylesheet" type="text/css" href="https://steemax.trade/css/fonts.css" />
    <link rel="stylesheet" media="only screen and (max-width: 6000px) and (min-width: 1000px)" href="https://steemax.trade/css/page_layout.css">
    <link rel="stylesheet" media="only screen and (max-width: 999px) and (min-width: 600px)" href="https://steemax.trade/css/page_layout600.css">
    <link rel="stylesheet" media="only screen and (max-width: 599px) and (min-width: 0px)" href="https://steemax.trade/css/page_layout380.css">
    <link rel="stylesheet" media="only screen and (max-width: 6000px) and (min-width: 1000px)" href="https://steemax.trade/css/main.css">
    <link rel="stylesheet" media="only screen and (max-width: 999px) and (min-width: 600px)" href="https://steemax.trade/css/main600.css">
    <link rel="stylesheet" media="only screen and (max-width: 599px) and (min-width: 0px)" href="https://steemax.trade/css/main380.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124645211-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-124645211-1');
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://www.steemax.trade/js/steem.min.js"></script>
    <script src="https://www.steemax.trade/js/steemjs.js"></script>
    <script lang="javascript">
        if (window != top) {top.location.replace(document.location);}
        function get_all_votes() {  get_vote_value('ACCOUNT1', 100, 1); }
    </script>
</head>
<body onLoad="onRangeChange(document.getElementById('ratio-slider'), myListener); showInviteCount();">
    <div class="header">
        <div class="header-container">
            <div id="header-logo">
                <a href="https://steemax.trade"><div id="large-logo"></div></a>
            </div>
            <div id="ACCOUNT1vote" class="myvotevalue"></div>
            <div id="header-button">
                <a href="https://steemax.info/@ACCOUNT1">
                <div class="notice-bubble">INVITECOUNT</div>
                <button id="ghost-button">My Invitations</button>
                </a>
            </div>
        </div>
    </div>
    <form action="https://steemax.trade/post.py" id="axform">
    <input type="hidden" name="code" id="code" value="REFRESHTOKEN">
    <div class="container">
        <div id="errormsg">Invite a Steemian to exchange upvotes</div>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="vstable" style="display: none;"><tr>
            <td id="showinviter"></td>
            <td rowspan="2">vs.</td>
            <td id="showinvitee"></td>
            </tr><tr>
            <td id="amt1"></td>
            <td id="amt2"></td>
            </tr>
        </table>
        <div class="input-fields">
            <div class="tooltip">
                <input type="text" placeholder="Steemian to invite" name="account" id="accountbox" onchange="get_vote_value(this.value, 100, 2);" class="inputshadow">
                <img class="input-icon" src="https://www.steemax.trade/images/user-icon.png">
                <span class="tooltiptext">Enter the name of a Steemit.com account that you wish to exchange upvotes.</span>
            </div>
            <div class="tooltip">
                <input placeholder="Percentage of my upvote" pattern="[0-9]{3}" min="1" max="100" name="percentage" id="percentage" onchange="compare_votes_index();" class="inputshadow">
                <img class="input-icon-right" src="https://www.steemax.trade/images/percentage-icon.png">
                <span class="tooltiptext">This is the percentage of your upvote that you'd like to exchange. Exchanges are always negotiated using the inviter's upvote. The person you invite will have the opportunity to barter with you before they accept. It will always be the percentage of your (inviter's) upvote that is being bartered on.</span>
            </div>
            <div class="tooltip">
                <input type="range" min="1" max="200" step="1" name="ratio-slider" id="ratio-slider" class="slider" value="100">
                <input pattern="[0-9\\.]{8}" min="0.001" max="1000" step="0.001" name="ratio" id="ratio" onchange="compare_votes_index();" value="1">
                <img class="input-icon-right" src="https://www.steemax.trade/images/1-icon.png">
                <span class="tooltiptext">This is the ratio between your upvote and the person's upvote that you are inviting. This allows whales and minnows to exchange unequal upvotes! Unlike the percentage, it's <i>their</i> upvote that is being adjusted. You can adjust the ratio from 0.001:1 (the invitee's upvote is one thousand times bigger than the inviter's upvote) all the way to 1000:1 (the invitee's upvote is one thousandth 1/1000 the size of the inviter's upvote).</span>
            </div>
            <select name="duration" id="duration" class="inputshadow">
                <option value="7">1 week</option>
                <option value="14">2 weeks</option>
                <option value="28">4 weeks</option>
                <option value="56">2 months</option>
                <option value="84">6 months</option>
                <option value="365">1 year</option>
            </select>
            <div id="captcha_holder">
                 <div class="g-recaptcha" data-sitekey="6Ld60V8UAAAAALQVrR4yBYDiDsYVHO1JRc4BdrxG"></div>
            </div>
            <div id="buttonholder">
                <a href="javascript" onClick="verifyform(); return false;"><div id="exchange-button">Create Invite</div></a>
                <img src="https://steemax.trade/images/loader_small.gif" id="loadergif">
            </div>
        </div>
    </div>
    <div class="steemax-footer">
        <p class="footer-text">Powered by <a href="https://www.steemit.com/@learnelectronics">ArtoLabs (@learnelectronics)</a></p>
    </div>
    </form>
</body>
</html>
