@charset "utf-8";
@font-face {
    font-family: 'LatoWebBold';
    src: url('https://www.steemax.trade/fonts/Lato-Bold.eot');
    src: url('https://www.steemax.trade/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://www.steemax.trade/fonts/Lato-Bold.woff2') format('woff2'),
         url('https://www.steemax.trade/fonts/Lato-Bold.woff') format('woff'),
         url('https://www.steemax.trade/fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'LatoWebBold';
    src: url('https://www.steemax.trade/fonts/Lato-BoldItalic.eot');
    src: url('https://www.steemax.trade/fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('https://www.steemax.trade/fonts/Lato-BoldItalic.woff2') format('woff2'),
         url('https://www.steemax.trade/fonts/Lato-BoldItalic.woff') format('woff'),
         url('https://www.steemax.trade/fonts/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'LatoWebHairline';
    src: url('https://www.steemax.trade/fonts/Lato-Hairline.eot');
    src: url('https://www.steemax.trade/fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
         url('https://www.steemax.trade/fonts/Lato-Hairline.woff2') format('woff2'),
         url('https://www.steemax.trade/fonts/Lato-Hairline.woff') format('woff'),
         url('https://www.steemax.trade/fonts/Lato-Hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'LatoWebHairline';
    src: url('https://www.steemax.trade/fonts/Lato-HairlineItalic.eot');
    src: url('https://www.steemax.trade/fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
         url('https://www.steemax.trade/fonts/Lato-HairlineItalic.woff2') format('woff2'),
         url('https://www.steemax.trade/fonts/Lato-HairlineItalic.woff') format('woff'),
         url('https://www.steemax.trade/fonts/Lato-HairlineItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'LatoWeb';
    src: url('https://www.steemax.trade/fonts/Lato-Regular.eot');
    src: url('https://www.steemax.trade/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://www.steemax.trade/fonts/Lato-Regular.woff2') format('woff2'),
         url('https://www.steemax.trade/fonts/Lato-Regular.woff') format('woff'),
         url('https://www.steemax.trade/fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'LatoWeb';
    src: url('https://www.steemax.trade/fonts/Lato-Italic.eot');
    src: url('https://www.steemax.trade/fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
         url('https://www.steemax.trade/fonts/Lato-Italic.woff2') format('woff2'),
         url('https://www.steemax.trade/fonts/Lato-Italic.woff') format('woff'),
         url('https://www.steemax.trade/fonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'LatoWebLight';
    src: url('https://www.steemax.trade/fonts/Lato-Light.eot');
    src: url('https://www.steemax.trade/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
         url('https://www.steemax.trade/fonts/Lato-Light.woff2') format('woff2'),
         url('https://www.steemax.trade/fonts/Lato-Light.woff') format('woff'),
         url('https://www.steemax.trade/fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'LatoWebLight';
    src: url('https://www.steemax.trade/fonts/Lato-LightItalic.eot');
    src: url('https://www.steemax.trade/fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('https://www.steemax.trade/fonts/Lato-LightItalic.woff2') format('woff2'),
         url('https://www.steemax.trade/fonts/Lato-LightItalic.woff') format('woff'),
         url('https://www.steemax.trade/fonts/Lato-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'telephasicbrk';
    src: url('https://www.steemax.trade/fonts/telephas-webfont.eot');
    src: url('https://www.steemax.trade/fonts/telephas-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://www.steemax.trade/fonts/telephas-webfont.woff2') format('woff2'),
         url('https://www.steemax.trade/fonts/telephas-webfont.woff') format('woff'),
         url('https://www.steemax.trade/fonts/telephas-webfont.ttf') format('truetype'),
         url('https://www.steemax.trade/fonts/telephas-webfont.svg#telephasic_brknormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
