body {
    font-family: LatoWeb, sans-serif;
    font-weight: 300;
    margin: 0;
    background-color: #ffffff;
}
h1 {
    font-weight: 600;
    font-size: 25px;
    margin: 0;
}
h2 {
    font-weight: 600;
    font-size: 18px;
    margin: 0;

}
h3 {
    color: #989898;
    font-size: 12px;
    margin: 0;
}
a {
    text-decoration: none;
}
#header-paragraph {
    font-family: LatoWebLight, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;

}
.header-steemax {
    color: white;
    text-align: center;
    background: -moz-linear-gradient(81deg, rgba(28,87,177,1) 0%, rgba(65,164,240,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(65,164,240,1)), color-stop(100%, rgba(28,87,177,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(81deg, rgba(28,87,177,1) 0%, rgba(65,164,240,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(81deg, rgba(28,87,177,1) 0%, rgba(65,164,240,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(81deg, rgba(28,87,177,1) 0%, rgba(65,164,240,1) 100%); /* ie10+ */
    background: linear-gradient(9deg, rgba(28,87,177,1) 0%, rgba(65,164,240,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41a4f0', endColorstr='#1c57b1',GradientType=0 ); /* ie6-9 */ 
}
.header-section {
    padding-top: 70px;
    padding-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
.main-content {
    width: 610px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
}
.info-box {
    width: 190px;
    float: left;
    background-color: #ffffff;
    height: 160px;
    text-align: center;
    padding-top:25px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    margin-top: -40px;
    margin-left: 4px;
    margin-right: 4px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.info-box:hover {
    background-color: #ffffff;
    cursor: pointer;
    margin-top: -43px;
    margin-left: 1px;
    margin-right: 7px;
    box-shadow: 3px 6px 3px 0px rgba(0, 0, 0, 0.15);
}
#numuserboxtop {
    display: block;
}
#numuserboxbottom {
    display: none;
}
#text-short {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.box-img {
    padding-bottom: 20px;
}
#filled-button {
    display: inline-block;
    background-color: #2366bd;
    font-weight: 600;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
    border: none;
    color: white;
    font-size: 16px;
}
.steemax-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #f1f1f1;
    height: 65px;
    text-align: center;
    color: #7d7d7d;
    font-size: 18px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.09) inset; 
}
.footer-text > a {
    color: #2366bd;
    font-weight: 600;
    text-decoration: none;
}
