body{
    background: -moz-linear-gradient(90deg, rgba(28,87,177,1) 0%, rgba(65,164,240,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(65,164,240,1)), color-stop(100%, rgba(28,87,177,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(28,87,177,1) 0%, rgba(65,164,240,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(28,87,177,1) 0%, rgba(65,164,240,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(28,87,177,1) 0%, rgba(65,164,240,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(28,87,177,1) 0%, rgba(65,164,240,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41a4f0', endColorstr='#1c57b1',GradientType=0 ); /* ie6-9 */
    font-family: Lato, sans-serif;
    height: 100vh;
    margin: 0;
}
.header {
    position: relative;
    width: calc(100% - 400px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.header-side {
    width: 20%;
    min-width: 200px;
    position: relative;
    margin-bottom: 40px;
}
.myvotevalue {
    position: relative;
    float: left;
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 10px;
    width: 40%;
    max-width: 700px;
    min-width: 100px;
    text-align: right;
}
.container {
    max-width: 360px;
    margin: auto;
    clear: both;
}
.tooltip {
    position: relative;
    height: 40px;
    margin-top: 20px;
}
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #2d2d2d;
    color: #fff;
    border-radius: 3px;
    width: 220px;
    position: absolute;
    z-index: 1;
    top: -20px;
    right: 105%; 
    padding: 10px;
    font-weight: 300;
    font-size: 13px;
    opacity: 0;
    transition: opacity 1s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.g-recaptcha > div {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#large-logo {
    max-width: 400px;
    display: block;
    float: left;
}
#ghost-button {
    float: right;
    margin-top: 20px;
    border: 1px solid #8ac2f1;
    background-color: transparent;
    padding: 3px 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.8s;
}
#ghost-button:hover {
    background-color: white;
    color: #2f7fd2;
}
.input-icon {
    position: absolute;
    top: 12px;
    left: 12px;
}
.input-icon-right {
    position: absolute;
    top: 14px;
    left: 320px;
}
input {
    width: 318px;
    height: 40px;
    border-radius: 3px;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: transparent !important;
    padding-left: 42px;
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    background-color: #ffffff;
}
select {
  -webkit-appearance: none; /* WebKit/Chromium */
  -moz-appearance: none; /* Gecko */
    width: 360px;
    height: 40px;
    border-radius: 3px;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: transparent !important;
    padding-left: 40px;
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    background-color: white;
    margin-top: 20px;
}
option {
  -webkit-appearance: none; /* WebKit/Chromium */
  -moz-appearance: none; /* Gecko */
    padding-left: 40px;
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    background-color: white;
}
.inputshadow {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(50, 50, 255, 0.6);
    -moz-box-shadow:    0px 0px 5px 1px rgba(50, 50, 255, 0.6);
    box-shadow:         0px 0px 5px 1px rgba(50, 50, 255, 0.6);
}
.inputshadowerror {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.8);
    -moz-box-shadow:    0px 0px 5px 1px rgba(255, 0, 0, 0.8);
    box-shadow:         0px 0px 5px 1px rgba(255, 0, 0, 0.8);
}
#errormsg {
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
}
#loadergif {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
#buttonholder {
    position: relative;
    margin-top: 40px;
    width: 360px;
}
#exchange-button {
    background-color: #2d2d2d;
    padding: 20px;
    border: none;
    color: #ffffff;
    width: 320px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
}
#exchange-button:hover {
    background-color: #353535;
}
#powered {
    position: absolute;
    width: 360px;
    margin: auto;
    bottom: 20px;
    color: white;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}
#powered a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
@media screen and (max-width: 600px) {
    .container {
        margin-top: 10px;
        padding: 30px;
    }
    .input-icon-right {
        margin-left: 85%;
    }
}
